<h1>edit profile <%= infoUser.username %></h1>

<a href="/logout">logout</a>
<a href="/<%= infoUser.username %>">profile</a>

<form action="/<%= infoUser.username %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= infoUser.name %>">
  
  <label for="lastname">Last Name</label>
  <input type="text" id="lastname" name="lastname" value="<%= infoUser.lastname %>">

  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="<%= infoUser.email %>">
  
  <label for="phone">Phone</label>
  <input type="number" name="phone" id="phone" value="<%= infoUser.phone %>">

  <p>Address</p>
  <label for="city">City</label>
  <input type="text" name="city" id="city" value="<%= infoUser.address.city %>">

  <label for="bio">Bio</label>
  <textarea type="text" name="bio" id="bio"><%= infoUser.bio %></textarea>

  <div class="">
    <h2>Social accounts:</h2>
      <label for="ig_user">Instagram user</label>
      <input type="text" name="ig_user" id="ig_user" value="<%= infoUser.instagram.username %>">
  </div>

  <button type="submit">Update Profile</button>

</form>