<div class="container">
<!-- Extended default form grid -->
<h1>Edit Profile <%= infoUser.username %></h1>
<form action="/<%= infoUser.username %>" method="POST">
  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" value="<%= infoUser.name %>">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="lastname">Lastname</label>
      <input type="text" class="form-control" id="lastname" placeholder="Lastname" value="<%= infoUser.lastname %>">
    </div>
  </div>
  <!-- Grid row -->
    <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="phone">Phone</label>
      <input type="number" class="form-control" id="phone" placeholder="Phone" value="<%= infoUser.phone %>">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email" value="<%= infoUser.email %>">
    </div>
  </div>
  <!-- Grid row -->
  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="City" value="<%= infoUser.address.city %>">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" placeholder="11206-1117">
    </div>
  </div>
  <div class="form-group">
    <label for="bio">Biography</label>
    <input type="text" class="form-control" id="bio" placeholder="Bio" value="<%= infoUser.address.bio %>">
  </div>

    <div class="form-group">
      <h2>SOCIAL INFO</h2>
      <label for="ig_user">Instagram user</label>
      <input type="text" name="ig_user" id="ig_user" value="<%= infoUser.instagram.username %>">
    </div>
  <!-- Grid row -->
  <button type="submit" class="btn btn-primary btn-md">Update Profile</button>
</form>
<!-- Extended default form grid -->
</div>
