<div class="container">

  <div class="p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="<%= infoUser.profileImage %>" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">

        <form action="/<%= infoUser.username %>" method="POST">

          <div class="form-row">
            <div class="col-3">
                <input type="text" class="form-control" name="name" placeholder="Name" value="<%= infoUser.name %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="lastname" placeholder="Lastname" value="<%= infoUser.lastname %>">
            </div>

            <div class="col-6 text-right">
              <p class="edit-author"><a class="edit-link" href="/<%= infoUser.username %>/edit">Edit profile</a></p>
            </div>
            
          </div>

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="facebook" placeholder="Facebook" value="<%= infoUser.socialLinks[0] %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="instagram" placeholder="Instagram" value="<%= infoUser.socialLinks[1] %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="twitter" placeholder="Twitter" value="<%= infoUser.socialLinks[2] %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="youtube" placeholder="Youtube" value="<%= infoUser.socialLinks[3] %>">
            </div>
          </div>

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="city" placeholder="City" value="<%= infoUser.address.city %>">
            </div>
          </div>

          <div class="form-row">
            <div class="col-8">
              <textarea class="form-control" name="bio" id="exampleFormControlTextarea3" rows="7" value="<%= infoUser.bio %>" placeholder="<%= infoUser.bio %>"></textarea>
            </div>
          </div>
          
        </form>

        <p><%= infoUser.bio %></p>
        <div>
          <a href="/<%= infoUser.username %>/campaigns">
            <button type="button" class="btn btn-author"><i class="fa fa-bullhorn icon-campaign pr-2"></i>Search Campaigns</button>
          </a>
          <a href="/<%= infoUser.username %>/campaigns">
            <button type="button" class="btn btn-author"><i class="fa fa-mobile icon-mycampaign pr-2"></i>My campaigns</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>






<div class="container">
<!-- Extended default form grname -->
<h1>Edit Profile <%= infoUser.username %></h1>
<form action="/<%= infoUser.username %>" method="POST">
  <!-- Grname row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name" value="<%= infoUser.name %>">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="lastname">Lastname</label>
      <input type="text" class="form-control" name="lastname" placeholder="Lastname" value="<%= infoUser.lastname %>">
    </div>
  </div>
  <!-- Grname row -->
    <!-- Grname row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="phone">Phone</label>
      <input type="number" class="form-control" name="phone" placeholder="Phone" value="<%= infoUser.phone %>">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" placeholder="Email" value="<%= infoUser.email %>">
    </div>
  </div>
  <!-- Grname row -->
  <!-- Grname row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <input type="text" class="form-control" name="city" placeholder="City" value="<%= infoUser.address.city %>">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" name="inputZip" placeholder="11206-1117">
    </div>
  </div>
  <div class="form-group">
    <label for="bio">Biography</label>
    <input type="text" class="form-control" name="bio" placeholder="Bio" value="<%= infoUser.address.bio %>">
  </div>

    <div class="form-group">
      <h2>SOCIAL INFO</h2>
      <label for="ig_user">Instagram user</label>
      <input type="text" name="ig_user" name="ig_user" value="<%= infoUser.instagram.username %>">
    </div>
  <!-- Grname row -->
  <button type="submit" class="btn btn-primary btn-md">Update Profile</button>
</form>
<!-- Extended default form grname -->
</div>
