<div class="container">

  <div class="p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="<%= infoUser.profileImage %>" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">

        <form action="/<%= infoUser.username %>" method="POST">

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="cofluname" placeholder="Username" value="<%=infoUser.username%>" >
            </div>

            <div class="col-3">
              <input type="email" class="form-control" name="email" placeholder="email" value="<%=infoUser.email%>">
            </div>
            
          </div>

          <div class="form-row">
            <div class="col-3">
                <input type="text" class="form-control" name="name" placeholder="Name" value="<%= infoUser.name %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="lastname" placeholder="Lastname" value="<%= infoUser.lastname %>">
            </div>
            
          </div>

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="phone" placeholder="Facebook" value="<%= infoUser.socialLinks[0] %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="instagram" placeholder="Instagram" value="<%= infoUser.instagram.username %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="twitter" placeholder="Twitter" value="<%= infoUser.socialLinks[2] %>">
            </div>
            <div class="col-3">
              <input type="text" class="form-control" name="youtube" placeholder="Youtube" value="<%= infoUser.socialLinks[3] %>">
            </div>
          </div>

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="city" placeholder="City" value="<%= infoUser.address.city %>">
            </div>
            <div class="col-3">
              <input type="tel" class="form-control" name="phone" placeholder="+34 111 111 111" value="<%= infoUser.phone %>">
            </div>
          </div>

          <div class="form-row">
            <div class="col-8">
              <input id="textarea" type="text" class="form-control" name="bio" placeholder="Bio" value="<%= infoUser.bio %>">
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary btn-md">Update Profile</button>
        </form>

        
      </div>
    </div>
  </div>
  
</div>
