<!-- Author box -->
<div class="container">

  <div class="p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="<%= infoUser.profileImage %>" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">
        <h5 class="font-weight-bold dark-grey-text mb-3">
          <strong><%= infoUser.name %> <%= infoUser.lastname %></strong>
        </h5>

        <div class="personal-sm pb-3">
          <a class="pr-2 email-ic">
            <i class="fa fa-facebook mr-2"> </i>
          </a>
          <a class="pr-2 ig-ic">
            <i class="fa fa-instagram mr-2"></i>
          </a>
        </div>

        <p><%= infoUser.address.city %></p>
        <p><%= infoUser.bio %></p>
        <a id="send-msg" class="btn btn-unique btn-rounded btn-md" data-toggle="modal" data-target="#modalDefaultContactForm">Contact</a>
      </div>
    </div>
  </div>
  
</div>
<!-- Author box -->

<!--Section: Masonry-Cards-->

<section class="text-center py-4 container masonry">
  <!--Section heading-->
  <div class="section-title">
    <div class="social-network-column">
      <img class="instagram-logo" src="img/instagram-logo.png" alt="instagram-logo">
    </div>
    <div class="social-network-column">
      <ul class="social-data">
        <li class="social-data-item"><span class="span">@</span><%=iguser.username%></li>
        <li class="social-data-item"><span class="span"><%=iguser.media_count%></span> posts</li>
        <li class="social-data-item"><span class="span"><%=iguser.followers_count%></span> followers</li>
      </ul>
    </div>
  </div>

  <div class="card-columns">

    <% for(var i = 0; i <= 8; i++) { %>
    
      <div class="card overlay rounded z-depth-2 mb-2 img-container">
        <img src="<%=iguser.media.data[i].media_url%>" class="img-fluid card-img-top" alt="instagram image">
        <a href="#">
          <div class="after">
            <div class="positioner">
              <span class="icon">
                <i class="fa fa-heart"><span class="icon-data"> <%=iguser.media.data[i].like_count%></span></i>
              </span>
              <span class="icon">
                <i class="fa fa-comment"><span class="icon-data"> <%=iguser.media.data[i].comments_count%></span></i>
              </span>
            </div>
          </div>
        </a>
        <!-- <h6 class="mb-3 mt-4">
          <i class="fa fa-heart">
            <strong class="number">
              <%=iguser.media.data[i].like_count%>
            </strong>
          </i>
          <i class="fa fa-comment">
          <strong class="number">
            <%=iguser.media.data[i].comments_count%>
          </strong>
          </i>
        </h6> -->
      </div>
      <% } %>
  
  </div>
</section>

<!--Section: Masonry-Cards-->

<%- include ../../modal-msg.ejs %>
<!--Profile Image-->
<%- contentFor('img-avatar') %>
<img src="<%=infoUser.profileImage %>" alt="avatar-<%=infoUser.username%>" class="img-avatar">