<div class="modal fade modal-fullscreen modal-fluid banner modal-contact" id="modalDefaultContactForm" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <!--Modal: Contact form-->
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="modal-dialog cascading-modal mt-2" role="document">

    <!--Content-->
    <div class="modal-content modal-contact-box">

      <!--Header-->
      <div class="modal-header info-color white-text">
        <h4 class="title lobster">
          <i class="fa fa-envelope"></i> Cofluencer Contact</h4>
      </div>
      <!--Body-->
      <div class="modal-body">

        <!-- Default input name -->
        <label for="NameModalEx">From
          <%= infoUser.username %>
        </label>
        <% if (userRol === 'companies') { %>
          <input type="text" id="NameModalEx" class="form-control form-control-sm disabled" value="<%= infoUser.username %>">
          <% } else if (userRol === 'influencers') { %>
            <input type="text" id="NameModalEx" class="form-control form-control-sm disabled" value="<%= infoUser.name + ' ' + infoUser.lastname %>">
            <% } %>
              <br>

              <!-- Default input email -->
              <% if (userRol === 'companies') { %>
                <% if (typeof influencer !== 'undefined') { %>
                  <label for="EmailModalEx">Email to
                    <%= influencer.name + ' ' + influencer.lastname %>
                  </label>
                <% } %>
              <% } else if (userRol === 'influencers') { %>
                <% if (contact === 'company'){ %>
                  <% if (typeof company !== 'undefined') { %>
                    <label for="EmailModalEx">Email to
                      <%= company.username %>
                    </label>
                  <% } %>
                <% } else if (contact === 'campaign'){ %>
                  <% if (typeof campaign !== 'undefined') { %>
                    <label for="EmailModalEx">Email to
                      <%= campaign.company_id.email %>
                    </label>
                  <% } %>
                <% } %>
              <% } %>
              <% if (contact === 'influencer'){ %>
                <input type="text" id="EmailModalEx" class="form-control form-control-sm disabled" value="<%= influencer.email %>">
                <% } else if (contact === 'company'){ %>
                  <input type="text" id="EmailModalEx" class="form-control form-control-sm disabled" value="<%= company.email %>">
                  <% } else if (contact === 'campaign'){ %>
                    <input type="text" id="EmailModalEx" class="form-control form-control-sm disabled" value="<%= campaign.company_id.email %>">
                    <% } %>
                      <br>
                      <br>

                      <!-- Default input subject -->
                      <label for="SubjectModalEx">Subject</label>
                      <input type="text" id="SubjectModalEx" class="form-control form-control-sm">

                      <br>

        <!-- Default textarea message -->
        <label for="MessageModalEx">Your message</label>
        <textarea type="text" id="MessageModalEx" class="md-textarea form-control"></textarea>

        <div class="text-center mt-4 mb-2">
          <button id="send-contact-mail" class="btn btn-author">
            <i class="fa fa-send icon-campaign pr-2"></i> Send
          </button>
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
  <!--/Modal: Contact form-->
</div>