
<div class="container">
  <!-- Author box -->
  <div class="jumbotron p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="<%= infoUser.profileImage %>" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">
        <h5 class="font-weight-bold dark-grey-text mb-3">
          <strong><%= infoUser.name %> <%= infoUser.lastname %></strong>
        </h5>
        <div class="personal-sm pb-3">
          <a class="pr-2 email-ic">
            <i class="fa fa-facebook mr-2"> </i>
          </a>
          <a class="pr-2 ig-ic">
            <i class="fa fa-instagram mr-2"></i>
          </a>
        </div>
        <p><%= infoUser.address.city %></p>
        <p><%= infoUser.bio %></p>
      </div>
    </div>
  </div>
  <!-- Author box -->
</div>
<!--Section: Blog v.2-->
  <section class="text-center py-4 container masonry">

    <!--Section heading-->
    <h1 class="h1 font-weight-bold text-left mb-5 pt-4">Instagram</h1>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Featured image 1-->
        <div class="view overlay rounded z-depth-2 mb-2">
          <img src="<%=iguser.media.data[0].media_url%>" class="img-fluid" alt="First sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
        <h6 class="mb-3 mt-4">
            <i class="fa fa-heart"></i>
            <strong> <%=iguser.media.data[0].like_count%></strong>
            <i class="fa fa-comment"></i>
            <strong> <%=iguser.media.data[0].comments_count%></strong>
          </h6>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <!--Featured image 2-->
        <div class="view overlay rounded z-depth-2 mb-2">
          <img src="<%=iguser.media.data[1].media_url%>" class="img-fluid" alt="Second sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
          <h6 class="mb-3 mt-4">
            <i class="fa fa-heart"></i>
            <strong> <%=iguser.media.data[1].like_count%></strong>
            <i class="fa fa-comment"></i>
            <strong> <%=iguser.media.data[1].comments_count%></strong>
          </h6>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <!--Featured image 3-->
        <div class="view overlay rounded z-depth-2 mb-2 back">
          <img src="<%=iguser.media.data[2].media_url%>" class="img-fluid" alt="Thrid sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
        <h6 class="mb-3 mt-4">
            <i class="fa fa-heart"></i>
            <strong> <%=iguser.media.data[2].like_count%></strong>
            <i class="fa fa-comment"></i>
            <strong> <%=iguser.media.data[2].comments_count%></strong>
          </h6>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="row">
    
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Featured image 4-->
        <div class="view overlay rounded z-depth-2 mb-2">
          <img src="<%=iguser.media.data[3].media_url%>" class="img-fluid" alt="First sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>

        </div>
    
        <!--Excerpt-->
        <h6 class="mb-3 mt-4">
            <i class="fa fa-heart"></i>
            <strong> <%=iguser.media.data[3].like_count%></strong>
            <i class="fa fa-comment"></i>
            <strong> <%=iguser.media.data[3].comments_count%></strong>
        </h6>

      </div>
      <!--Grid column-->
    
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <!--Featured image 5-->
        <div class="view overlay rounded z-depth-2 mb-2">
          <img src="<%=iguser.media.data[4].media_url%>" class="img-fluid" alt="Second sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
    
        <!--Excerpt-->
        <h6 class="mb-3 mt-4">
            <i class="fa fa-heart"></i>
            <strong> <%=iguser.media.data[4].like_count%></strong>
            <i class="fa fa-comment"></i>
            <strong> <%=iguser.media.data[4].comments_count%></strong>
          </h6>
        
      </div>
      <!--Grid column-->
    
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <!--Featured image 6-->
        <div class="view overlay rounded z-depth-2 mb-2 back">
          <img src="<%=iguser.media.data[5].media_url%>" class="img-fluid" alt="Thrid sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
    
        <!--Excerpt-->
        <h6 class="mb-3 mt-4">
            <i class="fa fa-heart"></i>
            <strong> <%=iguser.media.data[5].like_count%></strong>
            <i class="fa fa-comment"></i>
            <strong> <%=iguser.media.data[5].comments_count%></strong>
          </h6>
        
      </div>
      <!--Grid column-->
    
    </div>

  </section>
<!--Section: Blog v.2-->

<%- contentFor('img-avatar') %>
<img src="<%=infoUser.profileImage %>" alt="avatar-<%=infoUser.username%>" class="img-avatar">