<div class="container">
  <h1>Influencer -- Profile</h1>

  <div>
    <h3>info user ---> <%= infoUser.username %></h3>
    <p>email: <%= infoUser.email %></p>
    <p>phone: <%= infoUser.phone %></p>
    <p>city: <%= infoUser.address.city %></p>
    <p>bio: <%= infoUser.bio %></p>
    <p>tags: <%= infoUser.tags %></p>
    <br>
    <p>Social accounts</p>
  </div>
  
</div>

<!--Section: Masonry-Cards-->
  <section class="container">
    <h1 class="h1 font-weight-bold text-left">Instagram</h1>

    <div class="card-columns">

      <% for(var i = 0; i <= 5; i++) { %>
      
        <div class="card overlay rounded z-depth-2 mb-2">
          <img src="<%=iguser.media.data[i].media_url%>" class="img-fluid card-img-top" alt="instagram image">
          <h6 class="mb-3 mt-4">
            <i class="fa fa-heart">
              <strong>
                <%=iguser.media.data[i].like_count%>
              </strong>
            </i>
            <i class="fa fa-comment"></i>
            <strong>
              <%=iguser.media.data[i].comments_count%>
            </strong>
          </h6>
        </div>
        <% } %>
    
    </div>
  </section>

<!--Section: Masonry-Cards-->


<!--Profile Image-->
<%- contentFor('img-avatar') %>
<img src="<%=iguser.media.data[0].media_url%>" alt="avatar-<%=infoUser.username%>" class="img-avatar">