<!-- Author box -->
<div class="container">

  <div class="jumbotron p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="<%= infoUser.profileImage %>" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">
        <h5 class="font-weight-bold dark-grey-text mb-3">
          <strong><%= infoUser.name %> <%= infoUser.lastname %></strong>
        </h5>

        <div class="personal-sm pb-3">
          <a class="pr-2 email-ic">
            <i class="fa fa-facebook mr-2"> </i>
          </a>
          <a class="pr-2 ig-ic">
            <i class="fa fa-instagram mr-2"></i>
          </a>
        </div>

        <p><%= infoUser.address.city %></p>
        <p><%= infoUser.bio %></p>
        <a href="#"><button class="btn btn-unique">Contactar</button></a>
      </div>
    </div>
  </div>
  
</div>
<!-- Author box -->

<!--Section: Masonry-Cards-->

<section class="text-center py-4 container masonry">
  <!--Section heading-->
  <h1 class="h1 font-weight-bold text-left mb-5 pt-4">Instagram</h1>

  <div class="card-columns">

    <% for(var i = 0; i <= 5; i++) { %>
    
      <div class="card overlay rounded z-depth-2 mb-2">
        <img src="<%=iguser.media.data[i].media_url%>" class="img-fluid card-img-top" alt="instagram image">
        <h6 class="mb-3 mt-4">
          <i class="fa fa-heart">
            <strong class="number">
              <%=iguser.media.data[i].like_count%>
            </strong>
          </i>
          <i class="fa fa-comment">
          <strong class="number">
            <%=iguser.media.data[i].comments_count%>
          </strong>
          </i>
        </h6>
      </div>
      <% } %>
  
  </div>
</section>

<!--Section: Masonry-Cards-->


<!--Profile Image-->
<%- contentFor('img-avatar') %>
<img src="<%=infoUser.profileImage %>" alt="avatar-<%=infoUser.username%>" class="img-avatar">