<h1>Influencer -- Profile</h1>

<div>
  <h3>info user ---> <%= infoUser.username %></h3>
  <p>email: <%= infoUser.email %></p>
  <p>phone: <%= infoUser.phone %></p>
  <p>city: <%= infoUser.address.city %></p>
  <p>bio: <%= infoUser.bio %></p>
  <p>tags: <%= infoUser.tags %></p>
  <br>
  <p>Social accounts</p>
</div>

<% if( typeof(iguser) != 'undefined') { %>
  <h1>IG user:
    <%= iguser.username %>
  </h1>
  <h2>followers:
    <%= iguser.followers_count%>
  </h2>
  <% for(i=0;i<6;i++){ 
    let img = iguser.media.data[i];%>
    <div style="float: left">
      <img src='<%=img.media_url%>' style="width: 300px; height: 300px">
      <br> 💚
      <%= img.like_count%>
      <br>
    </div>
    <% }; %>
<% } %>
