<div class="container">
  <!--Section: Blog v.3-->
  <section class="py-4">

    <div class="container p-5">
      <div class="row pb-5">
        <div class="col-6">
          <!--Section heading-->
          <h2 class="font-weight-bold dark-grey-text mb-3">Campaigns in which you have already done checkin.</h2>
          <!--Section description-->
          <p class="subtitle-p grey-text">Check the campaigns in which you are already registered and contact the company.</p>
        </div>
      </div>
    </div>
    
    <ul>
      <% campaigns.forEach((campaign) => { %>
        <li>
          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 col-xl-4 mb-4">
              <!--Featured image-->
              <div class="overlay rounded z-depth-1-half">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
              <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>
                  <%= campaign.title %>
                </strong>
              </h3>
              <p class="grey-text">
                <%= campaign.description %>
              </p>
              <p>
                <!-- <%= campaign.state %> -->
              </p>
              <p>by
                <a href="/<%=infoUser.username%>/company/<%=campaign.company_id.username%>" class="font-weight-bold dark-grey-text"><%=campaign.company_id.username%></a>,
                <%=moment(campaign.updated_at).format('l')%>
              </p>
            <!-- button function -->
            <% if (userRol === 'companies') { %>
              <a class="btn btn-author">
                Edit campaign
              </a>
            <% } else if (userRol === 'influencers') { 
             if (campaign.influencer_id == null) { %>
              <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
              Check in!
              </a>
            <% } else if (campaign.influencer_id.indexOf(infoUser._id) === -1 ) { %>
              <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
              Check in!
              </a>
              <% } else { %>
            <a class="btn btn-author" id="unfollow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
              Check out!
            </a>
              <% } %>
            <% } %>
            <a class="btn btn-author" href="/<%= infoUser.username %>/campaigns/<%= campaign.title %>">Show campaign</a>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
          <hr class="mb-5">
        </li>
        <% }) %>
    </ul>
  </section>
  <!--Section: Blog v.3-->
</div>