<div class="container">
<li><div class="row mt-5">
  <!--Grid column-->
  <div class="col-lg-5 col-xl-4 mb-4">
    <!--Featured image-->
    <div class="overlay rounded z-depth-1-half">
      <a href="/<%= infoUser.username %>/campaigns/<%= campaign.title %>">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/12.jpg" class="img-fluid" alt="First sample image">
        <div class="mask rgba-white-slight">

        </div>
      </a>
    </div>
  </div>
  <!--Grid column-->
  <!--Grid column-->
  <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
    <h3 class="mb-3 font-weight-bold dark-grey-text">
      <strong>
        <%= campaign.title %>
      </strong>
    </h3>
    <p class="grey-text">
      <%= campaign.description %>
    </p>
    <!-- <p><%= campaign.state %></p> -->
    <p>by
      <a href="/<%=infoUser.username%>/company/<%=campaign.company_id.username%>" class="font-weight-bold dark-grey-text">
        <%=campaign.company_id.username%>
      </a>,
      <%=moment(campaign.updated_at).format('l')%>
    </p>
    <!-- button function -->
    <% if (userRol === 'companies') { %>
      <a href="/<%= infoUser.username %>/campaigns/<%=campaign.title%>/edit" class="btn btn-author">
        Edit campaign
      </a>
      <% } else if (userRol === 'influencers') { 
        if (campaign.influencer_id == null) { %>
        <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
          Check in!
        </a>
        <% } else if (campaign.influencer_id.indexOf(infoUser._id) === -1 ) { %>
          <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
            Check in!
          </a>
          <% } else { %>
            <a class="btn btn-author" id="unfollow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
              Check out!
            </a>
            <% } %>
          <a id="send-msg" class="btn btn-author" data-toggle="modal" data-target="#modalDefaultContactForm">Contact</a>
          <% } %>
  </div>
  <!--Grid column-->
</div>

<hr class="mb-5">
<% if (userRol === 'companies') { %>
<section class="team-section pb-4">
  
  <div class="row pb-5">
    <div class="col-6">
      <% if (campaign.influencer_id.length === 0) { %>
      <h2 class="font-weight-bold dark-grey-text mb-3 subtitle-width">There are not interested Influencers.</h2>
      <% } else { %>
      <h2 class="font-weight-bold dark-grey-text mb-3 subtitle-width">Interested Influencers in your campaign.</h2>
      <% } %>
      
      <p class="grey-text subtitle-p">Here you can check who are the influencers interested in this campaign and contact them.</p>
      
    </div>

  </div>
  
  
    <% campaign.influencer_id.forEach((influencer, index) => { %>
    <div class="row">
  
        <!--Grid column-->
        <div class="col-md-6 col-lg-4">
  
          <!--Card-->
          <div class="card card-personal">
  
            <!--Card image-->
            <img class="img-fluid" src="<%= influencer.profileImage %>" alt="Card image cap">
            <!--Card image-->
  
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <a>
                <h4 class="card-title title-one"><%= influencer.name %> <%= influencer.lastname%></h4>
              </a>
              <p class="card-meta"><%= influencer.username %></p>
  
              <!--Text-->
              <p class="card-text"><%= influencer.bio %></p>
              <hr>
              <div class="text-center">
                <a class="card-meta">
                  <span>
                    <span class="span"><%= influencer.instagram.media_count%></span> posts
                  </span>
                </a>
                <a class="card-meta">
                  <span>
                    <span class="span"><%= influencer.instagram.followers_count%></span> followers
                  </span>
                </a>
                <a class="btn btn-colorful" href="/<%=infoUser.username%>/influencer/<%=influencer.username%>">view profile</a>
              </div>
            </div>
            <!--Card content-->
  
          </div>
          <!--Card-->
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
    </div>
  <% }); %>
  
<% } %>

</li></div>
<%- include ../modal-msg.ejs %>