<div class="container">
  <!--Section: Blog v.4-->
<section class="pt-5 mt-4 pb-3">

    <!--Grid row-->
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <!--Featured image-->
            <div class="card-cascade wider reverse">
                <div class="view overlay">
                  <div class="landscape">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Wide sample post image" class="img-fluid">
                  </div>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Post data-->
                <div class="card-body text-center">
                    <h2>
                        <a class="font-weight-bold"><%= campaign.title %></a>
                    </h2>
                    <p>Published by
                        <a><%=campaign.company_id.username%></a>, <%=moment(campaign.updated_at).format('l')%></p>
                    <p><%=campaign.description %></p>

                    <!--Social shares-->
                    <div class="social-counters ">

                        <!-- button function -->
                        <% if (userRol === 'companies') { %>
                          <a href="/<%= infoUser.username %>/campaigns/<%=campaign.title%>/edit" class="btn btn-author">
                            Edit campaign
                          </a>
                          <% } else if (userRol === 'influencers') { 
                                if (campaign.influencer_id == null) { %>
                            <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
                              Check in!
                            </a>
                            <% } else if (campaign.influencer_id.indexOf(infoUser._id) === -1 ) { %>
                              <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
                                Check in!
                              </a>
                              <% } else { %>
                                <a class="btn btn-author" id="unfollow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
                                  Check out!
                                </a>
                                <% } %>
                                  <a id="send-msg" class="btn btn-author" data-toggle="modal" data-target="#modalDefaultContactForm">Contact</a>
                                  <% } %>
                        

                    </div>
                    <!--Social shares-->

                </div>
                <!--Post data-->
            </div>
  </div>
  <!--Grid column-->
</div>

<hr class="mb-5">
<% if (userRol === 'companies') { %>
<section class="team-section pb-4">
  
  <div class="row pb-5">
    <div class="col-6">
      <% if (campaign.influencer_id.length === 0) { %>
      <h2 class="font-weight-bold dark-grey-text mb-3 subtitle-width">There are not interested Influencers.</h2>
      <% } else { %>
      <h2 class="font-weight-bold dark-grey-text mb-3 subtitle-width">Interested Influencers in your campaign.</h2>
      <% } %>
      
      <p class="grey-text subtitle-p">Here you can check who are the influencers interested in this campaign and contact them.</p>
      
    </div>

  </div>
  
  
    <% campaign.influencer_id.forEach((influencer, index) => { %>
    <div class="row">
  
        <!--Grid column-->
        <div class="col-md-6 col-lg-4">
  
          <!--Card-->
          <div class="card card-personal">
  
            <!--Card image-->
            <img class="img-fluid" src="<%= influencer.profileImage %>" alt="Card image cap">
            <!--Card image-->
  
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <a>
                <h4 class="card-title title-one"><%= influencer.name %> <%= influencer.lastname%></h4>
              </a>
              <p class="card-meta"><%= influencer.username %></p>
  
              <!--Text-->
              <p class="card-text"><%= influencer.bio %></p>
              <hr>
              <div class="text-center">
                <a class="card-meta">
                  <span>
                    <span class="span"><%= influencer.instagram.media_count%></span> posts
                  </span>
                </a>
                <a class="card-meta">
                  <span>
                    <span class="span"><%= influencer.instagram.followers_count%></span> followers
                  </span>
                </a>
                <a class="btn btn-colorful" href="/<%=infoUser.username%>/influencer/<%=influencer.username%>">view profile</a>
              </div>
            </div>
            <!--Card content-->
  
          </div>
          <!--Card-->
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
    </div>
  <% }); %>
  
<% } %>

</li></div>
<%- include ../modal-msg.ejs %>