<div class="container">

  
  <h1>Company -- Profile</h1>
  
  <a href="/logout">logout</a>
  <a href="/<%= infoUser.username %>/campaigns">campaigns</a>
  <a href="/<%= infoUser.username %>/campaigns/new">new campaign</a>
  
  <h2>Search user</h2>
  <form method="POST">
    IG User:
    <input type="text" id="name" name="name"></input>
    <button type="submit" class="btn btn-indigo">
      <i class="fa fa-bolt" aria-hidden="true"></i>Search IG user</button>
    </form>
    
    <% if( typeof(iguser) != 'undefined') { %>
      <h1>IG user:
        <%= iguser.username %>
      </h1>
      <h2>followers:
        <%= iguser.followers_count%>
      </h2>
      <% iguser.media.data.forEach((image)=>{ %>
        <div style="float: left">
          <img src='<%=image.media_url%>' style="width: 300px; height: 300px">
          <br> 💚
          <%= image.like_count%>
          <br>
        </div>
        <% }); %>
        <% } %>
        
        <%- contentFor('img-avatar') %>
        <img src="" alt="avatar-<%=infoUser.username%>" class="img-avatar">
</div>
        
