<div class="container p-5">

  <div class="py-4">
    <h2 class="font-weight-bold dark-grey-text">Edit your profile</h2>
    <p class="subtitle-p grey-text mb-3">Complete your profile to have more visibility and to be contacted more easily.</p>
  </div>

  <div class="p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="<%= infoUser.profileImage %>" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">

        <form class="edit" action="/<%= infoUser.username %>" method="POST">

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="cofluname" placeholder="Username" value="<%=infoUser.username%>" >
            </div>

            <div class="col-3 offset-1">
              <input type="email" class="form-control" name="email" placeholder="email" value="<%=infoUser.email%>">
            </div>

          </div>

          <div class="form-row">
            <div class="col-3">
                <input type="text" class="form-control" name="name" placeholder="Name" value="<%= infoUser.name %>">
            </div>
            <div class="col-3 offset-1">
              <input type="text" class="form-control" name="lastname" placeholder="Lastname" value="<%= infoUser.lastname %>">
            </div>
            
          </div>

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="city" placeholder="City" value="<%= infoUser.address.city %>">
            </div>
            <div class="col-3 offset-1">
              <input type="tel" class="form-control" name="phone" placeholder="+34 111 111 111" value="<%= infoUser.phone %>">
            </div>
          </div>

          <div class="form-row">
            <div class="col-2">
              <input type="text" class="form-control" name="facebook" placeholder="Facebook" value="<%= infoUser.socialLinks.facebook %>">
            </div>
            <div class="col-2 offset-1">
              <input type="text" class="form-control" name="instagram" placeholder="Instagram" value="<%= infoUser.instagram.username %>">
            </div>
            <div class="col-2 offset-1">
              <input type="text" class="form-control" name="twitter" placeholder="Twitter" value="<%= infoUser.socialLinks.twitter %>">
            </div>
            <div class="col-2 offset-1">
              <input type="text" class="form-control" name="youtube" placeholder="Youtube" value="<%= infoUser.socialLinks.youtube %>">
            </div>
          </div>

          <div class="form-row">
            <div class="col-12">
              <input id="textarea" type="text" class="form-control" name="bio" placeholder="Bio" value="<%= infoUser.bio %>">
            </div>
          </div>
          
          <button type="submit" class="btn btn-author">Update Profile</button>
          <a href="/<%= infoUser.username %>" class="btn btn-author">Cancel</a>
        </form>

        
      </div>
    </div>
  </div>
  
</div>
