<div class="container">
<!--Section: Blog v.3-->
<section class="py-4">

  <!--Section heading-->
  <h2 class="h1 text-center mb-5">Available Campaigns</h2>
  <!--Section description-->
  <p class="text-center mb-5 pb-5">Text here?¿?</p>

    <ul>
    <% campaigns.forEach((campaign, index) => { %>
      <li>        
        <!--Grid row-->
        <div class="row">
      
          <!--Grid column-->
          <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="overlay rounded z-depth-1-half">
              <a href="/<%= infoUser.username %>/campaigns/<%= campaign.title %>">
                <img src="http://lorempixel.com/781/521/fashion" class="img-fluid" alt="First sample image">
                <div class="mask rgba-white-slight">

                </div>
              </a>
            </div>
          </div>
          <!--Grid column-->
      
          <!--Grid column-->
          <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
              <strong><%= campaign.title %></strong>
            </h3>
            <p class="grey-text"><%= campaign.description %></p>
            <p><%= campaign.state %></p>
            <p>by
              <a class="font-weight-bold dark-grey-text"><%= campaign.company_id.username %></a>, <%=campaign.created_at%></p>
            <!-- button function -->
            <% if (userRol === 'companies') { %>
              <a class="btn btn-primary btn-md">
                Edit campaign
              </a>
            <% } else if (userRol === 'influencers') { 
             if (campaign.influencer_id == null) { %>
              <a class="btn btn-primary btn-md" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
              Check in!
              </a>
            <% } else if (campaign.influencer_id.indexOf(infoUser._id) === -1 ) { %>
              <a class="btn btn-primary btn-md" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
              Check in!
              </a>
              <% } else { %>
            <a class="btn btn-primary btn-md" id="unfollow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
              Check out!
            </a>
              <% } %>
            <% } %>
            <a class="btn btn-primary btn-md" href="/<%= infoUser.username %>/campaigns/<%= campaign.title %>">Show campaign</a>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
        <hr class="mb-5">
  </li>
  <% }) %>
</ul>
  </section>
  <!--Section: Blog v.3-->
</div>
