<h1>Campaings</h1>

<a href="/logout">logout</a>
<a href="/<%= infoUser.username %>">profile</a>
<a href="/<%= infoUser.username %>/campaigns/me">My campaigns</a>

<ul>
  <% campaigns.forEach((campaign) => { %>
  <li id= "<%= campaign._id %>">
    <!-- pasarlo todo a formualrio -->
      TITLE - <%= campaign.title %> <br>
      STATE - <%= campaign.state %> <br>
      DESCRIPTION <br>
      <%= campaign.description %>
      <br>
      <!-- Mostrar follow o unfollow solo para influencers -->
      <button id="check" value="<%= campaign._id %>" user="<%= infoUser.username %>">Check in!</button>
  </li>
  <% }) %>
</ul>