<h1>Campaings</h1>

<a href="/logout">logout</a>
<a href="/<%= infoUser.username %>">profile</a>
<a href="/<%= infoUser.username %>/campaigns/me">My campaigns</a>

<ul>
  <% campaigns.forEach((campaign) => { %>
  <li>
      TITLE - <%= campaign.title %> <br>
      STATE - <%= campaign.state %> <br>
      DESCRIPTION <br>
      <%= campaign.description %>
      <br>
      <!-- Mostrar follow o unfollow solo para influencers -->
      <% let influencers = campaign.influencer_id 
         let status
         let buttonText %>
      <% if (influencers == null) {
        buttonText = 'Check in!';
        status = 'follow';
      } else if (influencers.indexOf(infoUser._id) === -1 ) {
          status = 'follow';
          buttonText = 'Check in!';
        } else {
          status = 'unfollow';
          buttonText = 'Check out!';
        }%>

      <button id="<%= status %>" value="<%= campaign._id %>" user="<%= infoUser.username %>"><%= buttonText %></button>
  </li>
  <% }) %>
</ul>