<h1>Campaings</h1>

<a href="/logout">logout</a>
<a href="/<%= infoUser.username %>">profile</a>
<a href="/<%= infoUser.username %>/campaigns/me">My campaigns</a>

<ul>
  <% campaigns.forEach((campaign) => { %>
  <li>
    <!-- pasarlo todo a formualrio -->
      TITLE - <%= campaign.title %> <br>
      STATE - <%= campaign.state %> <br>
      DESCRIPTION <br>
      <%= campaign.description %>
      <br>
      <!-- Mostrar follow o unfollow solo para influencers -->
      <form action=""></form>
        <button id='check-control' type="submit" value="">Check in!</button>
  </li>
  <% }) %>
</ul>