<div class="container">

  <div class="p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="/img/company-profile.png" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">

        <div class="row">
          <div class="col-8">
            <h5 class="font-weight-bold dark-grey-text mb-3">
              <strong>
                <%= infoUser.username %>
              </strong>
            </h5>
          </div>

        </div>


        <div class="personal-sm pb-3">
          <a class="pr-2 email-ic">
            <i class="fab fa-facebook mr-2"> </i>
          </a>
          <a class="pr-2 ig-ic">
            <i class="fab fa-instagram mr-2"></i>
          </a>
        </div>

        <p>
          <%= infoUser.address.city %>
        </p>
        <p>
          <%= infoUser.bio %>
        </p>
        <div>
          <a href="/<%= infoUser.username %>/campaigns/new">
            <button type="button" class="btn btn-author">
              <i class="fa fa-plus icon-campaign pr-2"></i>Create campaign
            </button>
          </a>
          <a href="/<%= infoUser.username %>/edit">
            <button type="button" class="btn btn-author">
              <i class="fa fa-edit icon-campaign pr-2"></i>Edit Profile
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="p-5 container my-campaigns">
    
    <div class="row pb-5">
      <div class="col-6">
    <!--Section heading-->
        <% if (userRol === 'companies') { %>
        <h2 class="font-weight-bold dark-grey-text mb-3 subtitle-width">These are your published campaigns.</h2>
        <% } else if (userRol === 'influencers') { %>
        <h2 class="font-weight-bold dark-grey-text mb-3">Available campaigns.</h2>
        <% } %>
        <p class="grey-text subtitle-p">Check them, edit them and contact with the influencers interested.</p>
      </div>

      
      
    </div>

          <ul class="pl-0">
            <% campaigns.forEach((campaign, index) => { %>
              <li>
                <!--Grid row-->
                <div class="row">
  
                  <!--Grid column-->
                  <div class="col-lg-5 col-xl-4 mb-4">
                    <!--Featured image-->
                    <div class="overlay rounded z-depth-1-half">
                      <a href="/<%= infoUser.username %>/campaigns/<%= campaign.title %>">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="First sample image">
                        <div class="mask rgba-white-slight">
  
                        </div>
                      </a>
                    </div>
                  </div>
                  <!--Grid column-->
  
                  <!--Grid column-->
                  <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                    <h3 class="mb-3 font-weight-bold dark-grey-text">
                      <strong>
                        <%= campaign.title %>
                      </strong>
                    </h3>
                    <p class="grey-text">
                      <%= campaign.description %>
                    </p>
                    <!-- <p><%= campaign.state %></p> -->
                    <p>by
                      <a href="/<%=infoUser.username%>/company/<%=campaign.company_id.username%>" class="font-weight-bold dark-grey-text">
                        <%=campaign.company_id.username%>
                      </a>,
                      <%=moment(campaign.updated_at).format('l')%>
                    </p>
                    <!-- button function -->
                    <% if (userRol === 'companies') { %>
                      <a href="/<%= infoUser.username %>/campaigns/<%=campaign.title%>/edit" class="btn btn-author">
                        Edit campaign
                      </a>
                      <% } else if (userRol === 'influencers') { 
               if (campaign.influencer_id == null) { %>
                        <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
                          Check in!
                        </a>
                        <% } else if (campaign.influencer_id.indexOf(infoUser._id) === -1 ) { %>
                          <a class="btn btn-author" id="follow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
                            Check in!
                          </a>
                          <% } else { %>
                            <a class="btn btn-author" id="unfollow" value="<%= campaign._id %>" user="<%= infoUser.username %>">
                              Check out!
                            </a>
                            <% } %>
                              <% } %>
                                <a class="btn btn-author" href="/<%= infoUser.username %>/campaigns/<%= campaign.title %>">Show campaign</a>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
                <hr class="mb-5">
              </li>
              <% }) %>
          </ul>
  </section>
</div>
        
