<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
  <%- include ../partials/general/head %>
</head>

<body>
  <%- include ../partials/home/header %>
  <%- include ../partials/notifications %>
  <%- body %>
  <%- include ../partials/general/footer %>
  <%- include ../partials/general/scripts %>
</body>

</html>