<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
  <%- include ../partials/general/head %>
</head>

<body>
  <%- include ../partials/profile/header %>
  <%- body %>
  <%- include ../partials/general/footer %>
  <%- include ../partials/general/scripts %>
  <script>
    function resizeGridItem(item) {
        var grid = document.getElementsByClassName("grid")[0];
        var rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
        var rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
        var rowSpan = Math.ceil((item.querySelector('.content').getBoundingClientRect().height + rowGap) / (rowHeight + rowGap));
        item.style.gridRowEnd = "span " + rowSpan;
      }

    function resizeAllGridItems() {
        var allItems = document.getElementsByClassName("item");
        for (x = 0; x < allItems.length; x++) {
          resizeGridItem(allItems[x]);
        }
      }

    window.onload = resizeAllGridItems();
    window.addEventListener("resize", resizeAllGridItems);
    
  </script>
</body>

</html>